<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gui.guiprogramming">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Movie info app activities below -->
        <activity
            android:name=".movie.MovieSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".movie.MovieMainActivity"
            android:label="@string/movie_app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".movie.MovieFavoritesActivity"
            android:label="@string/movie_app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".movie.MovieDetailActivity"
            android:label="@string/movie_movieDetails"
            android:parentActivityName=".movie.MovieMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".movie.MovieStatisticsActivity"
            android:label="@string/movie_statistics"
            android:screenOrientation="portrait" />

        <!-- Food app activities below -->
        <activity
            android:name=".food.FoodMainActivity"
            android:label="@string/food_app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".food.FoodDetailsActivity"
            android:label="@string/food_app_name"
            android:parentActivityName=".food.FoodMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".food.FoodFavoritesActivity"
            android:label="@string/food_app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".food.FoodStatisticsActivity"
            android:label="Statistics"
            android:screenOrientation="portrait" />

        <!-- CBC news app activities below -->
        <activity
            android:name=".cbc.CBCMainActivity"
            android:label="@string/cbc_app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cbc.CBCDetailActivity"
            android:label="@string/cbc_app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".cbc.CBCStatisticsActivity"
            android:label="Statistics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cbc.CBCFavoritesActivity"
            android:label="@string/cbc_app_name"
            android:screenOrientation="portrait" />

        <!-- OCTranspo app activities below -->
        <activity
            android:name=".oc.OCMainActivity"
            android:label="@string/oc_app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oc.OCFavoritesActivity"
            android:label="Favorites"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oc.OCNextTripActivity"
            android:label="Next trips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oc.OCTripsActivity"
            android:label="Trips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oc.OCDetailsActivity"
            android:label="Trip details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oc.OCStatisticsActivity"
            android:label="Statistics"
            android:screenOrientation="portrait" />
    </application>

</manifest>